---
import { CollectionEntry } from "astro:content";
import { formatDate } from "../lib/dateHelpers.ts";
import { marked } from "marked";

export interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const href = `/blog/${post.slug}`;
const summary = post.data.summary && marked(post.data.summary);
---

<article class="post-card">
  <p class="date">{formatDate(post.data.date)}</p>
  <a href={href} class="title">
    <h2>{post.data.title}</h2>
  </a>
  {summary ? <div class="summary" set:html={summary} /> : null}
  <p class="read">
    <a href={href}>Read the article</a>
  </p>
</article>

<style lang="scss">
  @import "../styles/_variables.sass";

  .post-card {
    margin-bottom: 1.5rem;
  }

  a.title:link,
  a.title:visited {
    color: inherit;
  }

  a:hover {
    color: var(--link-color);
  }

  h2 {
    margin: 0;
    line-height: 1.3;
  }

  .date {
    margin-bottom: 0;
    color: var(--dimmed-text);
  }

  .summary {
    margin: 0;
  }

  .summary :global(p:first-of-type) {
    margin-top: 0.25em;
  }

  .summary :global(p:last-of-type) {
    margin-bottom: 0.25em;
  }

  .read {
    margin-top: 0.25rem;
  }
</style>
