---
import "@styles/app.sass";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
const BASE_URL = import.meta.env.PUBLIC_BASE_URL ?? "https://moroz.dev";

export interface Props {
  title: string;
  canonical?: string;
}

const { title, canonical } = Astro.props;
const canonicalURL = `${BASE_URL}${canonical}`;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    {canonical && <link rel="canonical" href={canonicalURL} />}
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="layout">
      <Header />
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>

<style lang="scss">
  @import "../styles/_variables.sass";

  .layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;

    main {
      flex: 1;
      padding-top: $header-height;
    }
  }
</style>
